{% extends 'base/_base.html' %}

{% block content %}
    <h1>YOUR FAVORITE MOVIES</h1>

    <div class="container">
        <div class="row">
            {% if favorite_movies %}
                {% for movie in favorite_movies %}
                    <a href="{% url 'movies:movie_detail' movie.id %}" class="col-md-4 mb-4 movie-card">
                        <div class="card movie-card-container">
                            <div class="card-body" style="text-align: center">
                                <h5 class="card-title">{{ movie.title }}</h5>
                                <p class="card-text">{{ movie.description }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <h3 style="text-align: center; color: aqua">You haven't marked any movies as favorites yet.</h3>
                </div>
            {% endif %}
        </div>
    </div>

    <style>
        .movie-card {
            text-decoration: none;
            color: inherit;
            transition: transform 0.3s;
        }

        .movie-card:hover {
            transform: scale(1.05);
        }

        .movie-card-container {
            margin-bottom: 20px;
        }
    </style>

{% endblock %}