{% extends 'base/_base.html' %}

{% block content %}

    <h2 style="text-align: center; color: aqua">Most Liked Movies</h2>
    <div class="container">
        <div class="row">
            {% for movie in most_liked_movies %}
                <a href="{% url 'movies:movie_detail' movie.id %}" class="col-md-4 mb-4 movie-card">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center">{{ movie.title }}</h5>
                            <p class="card-title" style="text-align: center">{{ movie.description }}</p>
                            <p class="card-text" style="text-align: center">Average Rating:
                                {{ movie.average_rating|floatformat:2 }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <style>
        .movie-card {
            text-decoration: none;
            color: inherit;
            transition: transform 0.3s;
        }

        .movie-card:hover {
            transform: scale(1.05);
        }
    </style>

{% endblock %}